<div id="sub">

	<nav class="box1">
		<h2>Contents</h2>
		<ul class="submenu">
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
		</ul>
	</nav>

	<nav class="box1">
		<ul class="submenu">
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
		</ul>
		<ul class="submenu">
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
			<li>
				<a href="#">メニューサンプル</a>
			</li>
		</ul>
	</nav>

	<div class="box1">
		<h2>アクセス</h2>
		<p>東京都XX区XXXXビル３F<br>
TEL：03-0000-0000<br>
受付：9:00～16:00<br>
定休日：土日祝</p>
	</div>

</div>
<!--/#sub-->