---
permalink: "recruit.html"
---
{% extends "./_layouts/base.njk" %}
{% block content %}

	<div id="main">

		<section>

			<h2>採用情報</h2>

			<table class="ta1">
				<tr>
					<th colspan="2" class="tamidashi">正社員募集</th>
				</tr>
				<tr>
					<th>見出し</th>
					<td>
						<a href="#">ここに説明など入れ</a>て下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
			</table>

			<table class="ta1">
				<tr>
					<th colspan="2" class="tamidashi">短期スタッフ募集</th>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>ここに説明など入れて下さい。サンプルテキスト。</td>
				</tr>
			</table>

		</section>

	</div>
	<!--/#main-->

	{% include "./_includes/nav1.njk" %}

{% endblock %}