---
permalink: "service.html"
---
{% extends "./_layouts/base.njk" %}
{% block content %}

	<div id="main">

		<section>

			<h2>製品紹介</h2>

			<div class="list">
				<a href="service2.html">
					<h4>製品名</h4>
					<figure><img src="./assets/images/sample1.jpg" alt=""></figure>
					<p>リンクがあると、ボックス右下に「→」マークが入ります。<br>
サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>
				</a>
			</div>

			<div class="list">
				<a href="service2.html">
					<h4>製品名</h4>
					<figure><img src="./assets/images/sample1.jpg" alt=""></figure>
					<p>リンクがあると、ボックス右下に「→」マークが入ります。<br>
サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>
				</a>
			</div>

			<div class="list">
				<h4>製品名</h4>
				<figure><img src="./assets/images/sample1.jpg" alt=""></figure>
				<p>リンクなしタイプです。</p>
			</div>

			<div class="list">
				<h4>製品名</h4>
				<figure><img src="./assets/images/sample1.jpg" alt=""></figure>
				<p>リンクなしタイプです。</p>
			</div>

		</section>

	</div>
	<!--/#main-->

	{% include "./_includes/nav1.njk" %}

{% endblock %}